@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --popper: 15px;

}

#container {
  position: relative;
}

#popcorn {
  display: inline-block;
  width: 10rem;
  height: 9rem;
  background-image: url("https://popper.js.org/images/popcorn-box.svg");
}

#flipTooltip {
  background: #fff;
  color: #333;
  font-weight: bold;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 4px;
}

#tooltip {
  background: #fff;
  color: #333;
  font-weight: bold;
  padding: 5px 8px;
  font-size: var(--popper);
  border-radius: 5px;
  /* visibility: hidden; */
  opacity: 0;
  transition: all 0.2s ease;
}

#tooltip[data-show] {
  /* visibility: visible; */
  opacity: 1;
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}


/* 
#tooltip[data-popper-placement^="top"] > #arrow {
  left: 0;
  transform: translate3d(calc(var(--popper) *1.8), 0px, 0px);
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  left: 0;
  transform: translate3d(calc(var(--popper) *1.8), calc(var(--popper) * -1.9), 0px);
}

#tooltip[data-popper-placement^="left"] > #arrow {
  top: 0;
  right: calc(var(--popper) * -0.12);;
  transform: translate3d(0px, calc(var(--popper) * 0.8), 0px);
}



#tooltip[data-popper-placement^="right"] > #arrow {
  top: 0;
  left: calc(var(--popper) * -0.12);
  transform: translate3d(0px, calc(var(--popper) * 0.8), 0px);
} */

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  position: absolute;
  /* left: 0; */
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#flipTooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#flipTooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#flipTooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#flipTooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}
